.footer {
    height: 200px;
    background-color: #e2f5ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_title {
    text-align: center;
}