.main-section_aside {
    grid-area: aside;
    background-color: var(--aside-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section_header {
    grid-area: header;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section_article {
    background-color: var(--footer-background-article);
}

.main-section_article1 {
    grid-area: article1;
}

.main-section_article2 {
    grid-area: article2;
}

.main-section_article3 {
    grid-area: article3;
}

.main-section_article4 {
    grid-area: article4;
}