.main-section_aside {
    grid-area: aside;
    background-color: #feeade;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-section_header {
    grid-area: header;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-section_article {
    background-color: #D8D8D8;
}

.main_section_articles {
    grid-area: articles;
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-rows: 1fr 1em 1fr 1em;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1em 1fr 1em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}